*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
    color: #e5e5e5;
    margin-right: 2.5rem;
}
a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}


a:hover {
    color: darkblue;
    text-decoration: underline;
}

.styled-link {
    background-color: rgb(134, 168, 180);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.styled-link:hover {
    background-color: navy;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.05;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color: #e5e5e5;
    font-size: 14px;
}
.hero-text h5 span{
    color: #007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #e5e5e5;
    font-size: 3rem;
}
.hero-text p{
    color: #e5e5e5;
}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px -8px rgba(0, 0, 0 );
}
.btn{
    border-color: #007ced;
}
.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color: #007ced;
    transform: rotate(360deg);
}
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    .click{
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background: orangered;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}
@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
}
#Project {
    padding: 20px;
    background-color: #d2001a,#7462ff;
    text-align: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    background-color: linear-gradient(135deg, rgba(255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    padding: 15px;
    text-align: center;
}

.Prod-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.Prod-img:hover{
    background-color: #e5e5e5;
}

.btn-container {
    margin-top: 10px;
}

.project-btn {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.project-btn:hover {
    background-color: #0056b3;
}
.skills{
    width: 500px;
    margin: 60px;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 10px 10px rgba(0, 0, 0, 0.22);
    text-transform: uppercase;
    background-color: #333;
    justify-content: center;
}
.skills h1{
    text-align: center;
}
.skills h3{
    margin: 5px;
}
.skills li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 10px 10px rgba(0, 0, 0, 0.22);
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.bar span{
     height: 20px;
     float: left;
     background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103,103, 1)100%);
}
.html{
    width: 90%;
    animation: html 3s; 
}
.CSS{
    width: 80%;
    animation: CSS 3s; 
}
.Canva{
    width: 70%;
    animation: Canva 3s; 
}
.Capcut{
    width: 80%;
    animation: Capcut 3s; 
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes CSS{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes Canva{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes Capcut{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@media (max-width: 480px) {
    .skills {
        margin: 20px;
        padding: 10px;
    }

    .skills h1 {
        font-size: 1.2rem;
    }

    .skills h3 {
        font-size: 0.9rem;
    }

    .skills li {
        margin: 8px 0;
        padding: 6px;
    }
    .bar {
        height: 12px;
    }

    .bar span {
        height: 12px;
    }
}
.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}
.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info .contact-form{
    flex: 1;
}
.contact-form h2{
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px ;
}
.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .text-box:first-child{
    margin-right: 15px;
}
.contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background: #2e94e3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}
.contact-form .send-btn:hover{
    background: #0582E3;
}

@media screen and (max-witdh: 950px) {
    .contact-section{
        flex-direction: column;
    }

    .contact-info .contact-form{
        margin: 30px 50px;
    }

    .contact-form h2{
        font-size: 30px;
    }

    .contact-form .text-box{
        width: 100%;
    }
}

.alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
}
.alert-error{
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #ffa502;
    border-radius: 4px;
}
.footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcon{
    display: flex;
    justify-content: center;
}
.socialIcon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcon a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcon a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
